<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dkucrut" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dkucrut.MainActivity" />
        </activity>
        <activity
            android:name=".AllMember"
            android:label="@string/title_activity_member" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dkucrut.MainActivity" />
        </activity>
        <activity
            android:name=".AllKegiatan"
            android:label="@string/title_activity_event" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dkucrut.MainActivity" />
        </activity>
        <activity
            android:name=".detail_event"
            android:label="@string/title_activity_detail_event"
            android:parentActivityName=".AllKegiatan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dkucrut.AllKegiatan" />
        </activity>
    </application>

</manifest>
